
-
	list = [
		{
			img: true,
			title: 'Наталья',
			descr: 'Огромная благодарность за ленты для родителей. В ночи уже пришла нам идея, что нужны срочно ленты. Роман ответил на все вопросы и на следующий день ленты были изготовлены и отправлены. Спасибо большое'
		},
		{
			img: true,
			title: 'Анастасия',
			descr: 'Я бы хотела выразить огромную благодарность за такие чудесные выпускные ленты. Все было на высшем уровне, начиная от качества выполненной работы до сроков выполнения. Также огромная благодарность за школьный логотип на лентах. Я немного повременить с отзывом, так как очень хотела прикрепить к нему фотографии выпускников именно в этих прекрасных лентах'
		},
		{
			title: 'Renata',
			descr: 'Роман,огромное спасибо Вам от мам выпускников 2023 года 9 "А" класса, Школы номер 2 города Жуковский, Московской области ,Вы не только приняли заказ почти в 12 часов ночи,но ещё и исполнили его в кратчайшие сроки - утром следующего днявнося коррективы, по нашему желанию, в макет уже на стадии производства ,спасибо за понимание, качество изумительное, цвет- идеальный,ленты в идеальном состоянии после такого долго пути из Краснодара в Жуковский ,гладить точно не надоОсобо хочу поблагодарить за бонусы в виде подарка ленточки для классного руководителя,без Вас я бы даже не догадалась её заказать ,ну,а ленточка Выжившие -это отдельный вид искусства её я надену сама на вручение аттестата сыну отличный дизайн ,ребятам очень понравилось ,ещё раз огромное Вам спасибо ааа,подожди те ка)) а цены,то цены этож тоже отдельный вид искусства,в этом случае они прекрасны цена/качество -просто бомба'
		},
	]

section.section.review
	.section_in.review__in
		.review__heading.js-fade-el
			.review__icon
				+icon('chat', 'icon--size_mod')
			.review__title Отзывы

		.review__slider_w.js-preview-slider-w
			+slider_navigation
			.review__slider.js-preview-slider
				each item in [1,2,3]
					.review__slide
						ul.review__slide_list
							each subitem, index in list
								li.review__slide_item(class= subitem.mod).js-fade-el
									.review__slide_avatar
										img(src=`images/review/r-${index}.jpg`, alt="some img")
									.review__slide_info
										.review__slide_text
											.review__slide_title= subitem.title
											.review__slide_descr= subitem.descr
										if subitem.img
											.review__slide_img(data-fancybox="single" data-src=`images/review/${index + 1}.jpg`)
												img(src=`images/review/${index + 1}.jpg`, alt="some img")

			.review__slider__dots.js-slider-dots
